altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
gitdb
gitpython
idna
jinja2
jsonschema
jsonschema-specifications
langchain>=0.2.0
langchain-openai>=0.1.5
langchain-community>=0.0.15
langchain-experimental
markupsafe
matplotlib
narwhals
numpy
openai>=1.10.0
packaging
pandas
pillow
protobuf
pyarrow
pydeck
python-dateutil
python-dotenv
pytz
rapidfuzz
referencing
requests
rpds-py
seaborn
six
smmap
sqlalchemy
streamlit
tenacity
toml
tornado
tqdm
typing-extensions
tzdata
urllib3
uvicorn==0.35.0
watchdog
fastapi==0.110.2
python-dotenv